@font-face {
  font-family: Neutrif Pro Bold;
  src: url("../fonts/neutrifpro-bold-webfont.ttf");
}

@font-face {
  font-family: Neutrif Pro Regular;
  src: url("../fonts/neutrifpro-regular-webfont.ttf");
}

@font-face {
  src: url("../fonts/Brilliant\ signature\ \ regular.otf");
  font-family: Brilliant;
}

@font-face {
  src:url("../fonts/neutrifpro-light-webfont.ttf");
  font-family: Neutrif Pro Light;
}
:root {
  font-size: calc(1vw + 1vh + 0.2vmin);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading {
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  position: fixed;
}

#loading img {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.wrapper {
  width: 600px;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roles {
  font-size: 1em;
  height: 50px;
  vertical-align: middle;
  overflow: hidden;
  color: white;
  font-family: Neutrif Pro Regular;
}

.roles div {
  height: 50px;
  transition: margin-top 1s ease-in-out;
}

#background-video {
  filter: brightness(0.8);
  opacity: 0.9;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
}

.drawer-list {
  font-family: Neutrif Pro Bold;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translate(100vw, 0);
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  -webkit-transition: width 475ms ease-out, border-radius 0.8s 0.1s ease,
    -webkit-transform 450ms ease;
  transition: width 475ms ease-out, border-radius 0.8s 0.1s ease,
    -webkit-transform 450ms ease;
  transition: width 475ms ease-out, transform 450ms ease,
    border-radius 0.8s 0.1s ease;
  transition: width 475ms ease-out, transform 450ms ease,
    border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  border-bottom-left-radius: 100vw;
  background-color: rgba(0, 0, 0, 0.746);
  z-index: 1;
}

@media (min-width: 768px) {
  .drawer-list {
    width: 15em;
  }
}

.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-transform: translatex(100vw);
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}

.drawer-list li:last-child {
  margin-bottom: 2em;
}

.drawer-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: calc(34px - 0.5vw);
}

@media (min-width: 768px) {
  .drawer-list li a {
    text-align: right;
    padding: 0.5rem;
  }
}

.drawer-list li a:hover {
  cursor: pointer;
  color: rgb(218, 218, 218);
}

input.hamburger {
  display: none;
}

input.hamburger:checked ~ .drawer-list {
  -webkit-transform: translatex(0);
  transform: translatex(0);
  border-bottom-left-radius: 0;
}

input.hamburger:checked ~ .drawer-list li {
  -webkit-transform: translatex(0);
  transform: translatex(0);
}

input.hamburger:checked ~ .drawer-list li:nth-child(1) {
  -webkit-transition: -webkit-transform 1s 0.08s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(2) {
  -webkit-transition: -webkit-transform 1s 0.16s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(3) {
  -webkit-transition: -webkit-transform 1s 0.24s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(4) {
  -webkit-transition: -webkit-transform 1s 0.32s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(5) {
  -webkit-transition: -webkit-transform 1s 0.4s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(6) {
  -webkit-transition: -webkit-transform 1s 0.48s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(7) {
  -webkit-transition: -webkit-transform 1s 0.56s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(8) {
  -webkit-transition: -webkit-transform 1s 0.64s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(9) {
  -webkit-transition: -webkit-transform 1s 0.72s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(10) {
  -webkit-transition: -webkit-transform 1s 0.8s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(11) {
  -webkit-transition: -webkit-transform 1s 0.88s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(12) {
  -webkit-transition: -webkit-transform 1s 0.96s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(13) {
  -webkit-transition: -webkit-transform 1s 1.04s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(14) {
  -webkit-transition: -webkit-transform 1s 1.12s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(15) {
  -webkit-transition: -webkit-transform 1s 1.2s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(16) {
  -webkit-transition: -webkit-transform 1s 1.28s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(17) {
  -webkit-transition: -webkit-transform 1s 1.36s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(18) {
  -webkit-transition: -webkit-transform 1s 1.44s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(19) {
  -webkit-transition: -webkit-transform 1s 1.52s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(20) {
  -webkit-transition: -webkit-transform 1s 1.6s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(21) {
  -webkit-transition: -webkit-transform 1s 1.68s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(22) {
  -webkit-transition: -webkit-transform 1s 1.76s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(23) {
  -webkit-transition: -webkit-transform 1s 1.84s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(24) {
  -webkit-transition: -webkit-transform 1s 1.92s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(25) {
  -webkit-transition: -webkit-transform 1s 2s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(26) {
  -webkit-transition: -webkit-transform 1s 2.08s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(27) {
  -webkit-transition: -webkit-transform 1s 2.16s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(28) {
  -webkit-transition: -webkit-transform 1s 2.24s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(29) {
  -webkit-transition: -webkit-transform 1s 2.32s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(30) {
  -webkit-transition: -webkit-transform 1s 2.4s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(31) {
  -webkit-transition: -webkit-transform 1s 2.48s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(32) {
  -webkit-transition: -webkit-transform 1s 2.56s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(33) {
  -webkit-transition: -webkit-transform 1s 2.64s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(34) {
  -webkit-transition: -webkit-transform 1s 2.72s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(35) {
  -webkit-transition: -webkit-transform 1s 2.8s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(36) {
  -webkit-transition: -webkit-transform 1s 2.88s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(37) {
  -webkit-transition: -webkit-transform 1s 2.96s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(38) {
  -webkit-transition: -webkit-transform 1s 3.04s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(39) {
  -webkit-transition: -webkit-transform 1s 3.12s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(40) {
  -webkit-transition: -webkit-transform 1s 3.2s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(41) {
  -webkit-transition: -webkit-transform 1s 3.28s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(42) {
  -webkit-transition: -webkit-transform 1s 3.36s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(43) {
  -webkit-transition: -webkit-transform 1s 3.44s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(44) {
  -webkit-transition: -webkit-transform 1s 3.52s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(45) {
  -webkit-transition: -webkit-transform 1s 3.6s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(46) {
  -webkit-transition: -webkit-transform 1s 3.68s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(47) {
  -webkit-transition: -webkit-transform 1s 3.76s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(48) {
  -webkit-transition: -webkit-transform 1s 3.84s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(49) {
  -webkit-transition: -webkit-transform 1s 3.92s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(50) {
  -webkit-transition: -webkit-transform 1s 4s
    cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96),
    -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
}

input.hamburger:checked ~ label > i {
  background-color: transparent;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

input.hamburger:checked ~ label > i:before {
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
  transform: translate(-50%, -50%) rotate(315deg);
}

input.hamburger:checked ~ label > i:after {
  -webkit-transform: translate(-50%, -50%) rotate(-315deg);
  transform: translate(-50%, -50%) rotate(-315deg);
}

input.hamburger:checked ~ label close {
  color: white;
  width: 100%;
}

input.hamburger:checked ~ label open {
  color: rgba(0, 0, 0, 0);
  width: 0;
}

label.hamburger {
  z-index: 99999999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}

label.hamburger:hover {
  cursor: pointer;
}

label.hamburger text close,
label.hamburger text open {
  font-family: Neutrif Pro Bold;
  text-transform: uppercase;
  font-size: 0.5em;
  -ms-flex-line-pack: center;
  align-content: center;
  position: absolute;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.25s 0.35s, color 0.45s 0.35s;
  transition: width 0.25s 0.35s, color 0.45s 0.35s;
}

label.hamburger text close {
  color: rgba(0, 0, 0, 0);
  right: 0;
  width: 0;
}

label.hamburger text open {
  color: white;
  width: 100%;
}

label.hamburger > i {
  position: absolute;
  width: 100%;
  height: 6px;
  top: 50%;
  background-color: white;
  pointer-events: auto;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

label.hamburger > i:before,
label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  left: 50%;
  background-color: white;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

label.hamburger > i:before {
  -webkit-transform: translate(-50%, -14px);
  transform: translate(-50%, -14px);
}

label.hamburger > i:after {
  -webkit-transform: translate(-50%, 14px);
  transform: translate(-50%, 14px);
}

label.hamburger {
  position: fixed;
  top: 25px;
  right: 35px;
}

.vertical-line {
  border-left: 1px solid white;
  height: 100px;
  position: absolute;
  top: 80%;
  left: 50%;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

/* mouse scroll animation */
.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 35px;
  height: 55px;
  margin-bottom: 10px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* -------- */

/* about me section */
#about-me {
  background-image: url("../img/about-me.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0.8em;
  display: flex;
  flex-direction: row-reverse;
  font-family: Neutrif Pro Regular;
  line-height: 1.5em;
  justify-content: center;
  align-items: center;
}

.about-me-text {
  width: 30em;
  padding: 15px;
  text-align: left;
}

.profile-picture img {
  width: 15em;
  height: 15em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.335);
}

.cv-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: black;
  margin-top: 1em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.671);
}

.cv-button:hover {
  color: black;
  background-color: white;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cv-button:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(0px);
}
/* ------------------- */

h1 {
  font-family: Brilliant;
  font-size: 4em;
  padding: 30px 0;
}

@media (max-width: 768px) {
  #about-me {
    display: column;
    font-size: 1.2em;
    margin-left: 30px;
  }

  #about-me h1 {
    padding-bottom: 20px;
  }

  #design {
    display: none;
  }
}

/* projects section */
#projects {
  background-image: url("../img/New\ Project.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2em;
  font-family: Neutrif Pro Regular;
}
.container {
  padding: 3% 1% 1% 5%;
  /* margin-left:30px; */
}
.container::after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* Inside the box */

.box {
  width: 100%;
  margin: 2%;
  padding-bottom: 96%;
  height: 0;
  position: relative;
  float: left;
  cursor: pointer;
  overflow: hidden;
  /*		box-shadow: 0px 3px 18px 1px #fff;*/
}

.box::after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.box:hover::after {
  background-color: #000;
  opacity: 0.7;
}

.container .box .caption {
  position: absolute;
  z-index: 60;
  width: 90%;
  margin-left: 5%;
  top: 50%;
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
  text-align: center;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  color: #fff;
  opacity: 0;
}

.box:hover .caption {
  -webkit-transform: scale(1) translate(0%, -50%);
  -moz-transform: scale(1) translate(0%, -50%);
  -ms-transform: scale(1) translate(0%, -50%);
  -o-transform: scale(1) translate(0%, -50%);
  transform: scale(1) translate(0%, -50%);
  opacity: 1;
}

.caption h2 {
  font: Neutrif Pro Bold;
}

.caption-details {
  font: Neutrif Pro Light;
  color: rgb(209, 206, 206);
}

.box img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 50;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.title {
  clip-path: polygon(0% 10%, 100% 15%, 96% 90%, 2% 75%);
  background-color: rgba(0, 0, 0, 0.753);
  color: #fff;
  font-size: 60px;
  height: 1.7em;
  width: 25%;
  text-align: center;
  font-family: Neutrif Pro Regular;
  margin-right: auto;
  margin-left: auto;
}

/* media changes, changing number of columns */

@media all and (min-width: 350px) {
  .container .box {
    width: 48%;
    margin: 0.5%;
    padding-bottom: 48%;
  }
}

@media all and (min-width: 768px) {
  .container .box {
    width: 31.3333%;
    padding-bottom: 30%;
  }
}
@media all and (min-width: 1200px) {
  .container .box {
    width: 23%;
    padding-bottom: 23%;
  }
}
/* ---------- */

/* technologies sections */
#technologies {
  background-image: url("../img/my-skills.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0.8em;
  width: 100%;
}

.icons {
  text-align: center;
}

.icons p {
  display: inline-flex;
}
.icons > p > img {
  width: 13em;
  margin: 10px;
  height: 13em;
  padding: 15px;
}
/* ---------------------- */

/* image border */
#design {
  position: relative;
  width: 15em;
  height: 15em;
  margin-left: 5em;
}

#design > *,
#blend > * {
  position: absolute;
  height: 100%;
  width: 100%;
}

#rotatedBorder {
  /* box-sizing: border-box; border: 15px #7f8c8d solid;
    transform: rotate(45deg);
    box-shadow: 0 0 10px #7f8c8d, inset 0 0 20px #7f8c8d; */
  box-sizing: border-box;
  border: 15px;
  transform: rotate(45deg);
  box-shadow: 0 0 10px rgb(202, 202, 202), inset 0 0 20px rgb(143, 143, 143);
}

.grid {
  display: grid;
  grid: repeat(2, 1fr) / repeat(2, 1fr);
}

[data-white] {
  background-color: white;
}

#blend {
  mix-blend-mode: multiply;
}

img {
  object-fit: cover;
}

#design > img {
  box-shadow: 0 0 20px #bac3c3;
}
/* ----------------- */

#contact{
  /* filter: brightness(0.6); */
  opacity: 0.9;
  position: relative;
  z-index: -1;
  overflow: hidden;
}


.logo {
  text-align: center;
  font-size: 2.5em;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-family: Brilliant;
  display:grid;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.logo > a {
  color: #fee715ff;
  margin-left: 20px;
}

.logo > a:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}


@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}

/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}