@font-face {
  src: url("../font/LeagueSpartan-Extrabold.woff") format("woff");
  font-family: LeagueSpartan-ExtraBold;
}

@font-face {
  src: url("../font/LeagueSpartan-Bold.woff") format("woff");
  font-family: LeagueSpartan-Bold;
}

@font-face {
  src: url("../font/LeagueSpartan-Extralight.woff") format("woff");
  font-family: LeagueSpartan-Extralight;
}

@font-face {
  src: url("../font/LeagueSpartan-Light.woff") format("woff");
  font-family: LeagueSpartan-Light;
}

@font-face {
  src: url("../font/LeagueSpartan-Medium.woff") format("woff");
  font-family: LeagueSpartan-Medium;
}

@font-face {
  src: url("../font/LeagueSpartan-Regular.woff") format("woff");
  font-family: LeagueSpartan-Regular;
}

@font-face {
  src: url("../font/LeagueSpartan-Semibold.woff") format("woff");
  font-family: LeagueSpartan-Semibold;
}

@font-face {
  src: url("../font/LeagueSpartan-Black.woff") format("woff");
  font-family: LeagueSpartan-Black;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: initial !important; */
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 420px) {
  html {
    font-size: 3.125vw;
  }
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover,
a:focus {
  transform: scale(1.2);
  transition: transform 0.2s;
  /* Animation */
}

body {
  font-size: 1.6rem;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #828c96;
  overflow-x: hidden;
  background-color: #f3f3f3 !important;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(28, 29, 37, .985);
  outline: 1px solid slategrey;
  border-radius: 15px;
}

@media screen and (max-width: 420px) {
  body {
    font-size: 1.2rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 100%;
}

#about {
  background-color: #f3f3f3;
  position: relative;
  font-size: 2rem;
}

#about .down-arrow {
  background-image: linear-gradient(-180deg, #0d0c0e, #0e0d10);
}

#about .code-wrp {
  font-family: LeagueSpartan-Medium;
  font-size: 16px;
  line-height: 1.6;
  width: 80%;
  background-color: rgba(28, 29, 37, .985);
  padding: 20px;
  -webkit-box-shadow: 0px 10px 42px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 42px -6px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

#about .code-l {
  z-index: 1;
  position: relative;
  color: #78707e;
}

#about .code-l:after {
  content: attr(data-line-nr);
  position: absolute;
  left: -60px;
  color: #3b3553;
  font-family: LeagueSpartan-Medium;
  font-size: 16px;
  line-height: 1.6;
  z-index: 3;
  top: 0;
}

#about .code-l:hover {
  position: relative;
}

#about .code-l:hover:before {
  background-color: #6400c896;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  z-index: -2;
}

#about .methods {
  color: #ff7c7c;
  display: inline;
  font-weight: 900;
}

#about .propname {
  color: #5972e6;
  font-weight: 900;
}

#about .dot {
  color: hsla(0, 0%, 95%, .97);
  display: inline;
}

#about .comment {
  color: hsla(0, 0%, 95%, .97);
  display: inline;
}

#about .scope {
  color: #ff7c7c;
  display: inline;
  font-weight: 900;
}

#about .prop2 {
  color: #e324d3;
}

#about .string {
  color: #24e33a;
}

#about .number {
  color: #ffd082;
}

#about .cursor:before {
  opacity: 0;
  content: "|";
  -webkit-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  #about .dot {
    display: none;
  }

  #about .code-l:after {
    left: -50px;
  }
}

.container-fluid {
  min-height: 670px;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-collapse {
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
  }
}

.title {
  color: rgb(0, 0, 0);
  position: absolute;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  z-index: 200;
  margin-left: 11%;
}

@media screen and (max-width: 800px) {
  .title {
    margin-left: 40px;
  }
}

@media screen and (max-width: 420px) {
  .title {
    width: 100%;
    margin: 0;
    top: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    bottom: 20rem;
    color: white;
    padding: 10px;
  }

  #about .code-wrp {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .title--top {
    text-align: center;
  }
}

.title__text {
  font-size: 12rem;
  line-height: 1;
  margin-bottom: 1.6rem;
  font-family: LeagueSpartan-Black;
}

@media screen and (max-width: 800px) {
  .title__text {
    font-size: 7.6rem;
  }
}

@media screen and (max-width: 420px) {
  .title__text {
    font-size: 6rem;
    margin-bottom: 0.8rem;
    text-shadow: 0 3px 10px rgba(2, 11, 22, 0.5);
  }
}

@media screen and (max-width: 420px) {
  .title__text--top {
    font-size: 5.4rem;
    text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
    margin-bottom: 0.1rem;
  }
}

.title .borderFirst {
  display: inline-block;
  margin-bottom: 3.2rem;
}

@media screen and (max-width: 420px) {
  .title .borderFirst {
    margin-bottom: 0.8rem;
  }
}

.title .borderFirst span {
  display: block;
  width: 88px;
  height: 4px;
  border-radius: 5px;
  background: #ff4d5a;
}

.title .borderFirst span:first-child {
  margin-bottom: 1.4rem;
}

@media screen and (max-width: 420px) {
  .title .borderFirst span:first-child {
    margin-bottom: 0.7rem;
  }
}

@media screen and (max-width: 800px) {
  .title .borderFirst span {
    width: 70px;
  }
}

@media screen and (max-width: 420px) {
  .title .borderFirst span {
    width: 44px;
    height: 2px;
  }
}

.title .borderFirst span:last-child {
  margin-left: 54px;
}

@media screen and (max-width: 800px) {
  .title .borderFirst span:last-child {
    margin-left: 43px;
  }
}

@media screen and (max-width: 420px) {
  .title .borderFirst span:last-child {
    margin-left: 27px;
  }
}

.title__lead {
  color: rgb(0, 0, 0);
  font-size: 2.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: LeagueSpartan-Light;
}

@media screen and (max-width: 800px) {
  .title__lead {
    font-size: 2.4rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 420px) {
  .title__lead {
    font-size: 1.2rem;
    color: white;
  }
}

.scrollDown {
  position: fixed;
  font-size: 1.4rem;
  bottom: 80px;
  left: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: rgb(0, 0, 0);
  z-index: 100;
}

.scrollDown:after {
  content: "";
  width: 2px;
  height: 64px;
  background: rgb(0, 0, 0);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -80px;
}

@media screen and (max-width: 420px) {
  .scrollDown:after {
    height: 32px;
    bottom: -40px;
  }
}

@media screen and (max-width: 420px) {
  .scrollDown {
    left: auto;
    right: 6.25%;
    font-size: 1rem;
    bottom: 40px;
  }
}

#home {
  position: relative;
  height: 100vh;
  background: url("../img/bg.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #home {
    background-position: right;
  }
}

.navbar {
  font-family: LeagueSpartan-Medium;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1000;
}

.nav-link {
  margin: 0 20px 0 0;
}

@media screen and (max-width: 420px) {
  .navbar {
    background-color: #072142a2;
  }

  .navbar-brand {
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    background-color: #0721428f;
  }

  .navbar-brand {
    color: white;
  }
}

.tag {
  color: #ff4d5a;
  font-family: LeagueSpartan-Bold;
}

.center {
  font-family: LeagueSpartan-Black;
  color: black;
}

.navbar-brand {
  font-size: 2.4rem !important;
  font-family: LeagueSpartanRegular;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1000;
  margin-left: 10px;
}

.logo-text {
  color: black;
  font-family: LeagueSpartan-Medium;
}


@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
    height: 100vw;
    left: 23%;
  }
}

@media screen and (max-width: 420px) {
  .container {
    width: 165vw;
    height: auto;
    left: 50%;
    top: 10rem;
    position: absolute;
    bottom: auto;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  .logo-text,
  .center {
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
    top: 10%;
    left: 20%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

#text-path {
  position: absolute;
  font-family: LeagueSpartan-Black;
  font-size: 100px;
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-dasharray: 100%;
  stroke-dashoffset: 0;
}

.banner {
  position: relative;
  margin-bottom: -70px;
}

/* WORK PAGE */

h2 {
  font-size: 20px;
  color: #333;
  margin: 7px 0;
}

/* END OF WORK PAGE */

.banner {
  display: flex;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: #3b3553;
}

.circles {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 180px;
}

.circles span {
  position: absolute;
  top: 25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: #EFEFEF
}

.circles span.one {
  right: 80px
}

.circles span.two {
  right: 40px
}

.circles span.three {
  right: 0px
}

.circles {
  -webkit-animation: animcircles 0.5s infinite linear;
  animation: animcircles 0.5s infinite linear
}

@-webkit-keyframes animcircles {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px)
  }

  100% {
    -webkit-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px)
  }
}

@keyframes animcircles {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px)
  }

  100% {
    -webkit-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px)
  }
}

.pacman {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px
}

.pacman .eye {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 7px;
  width: 7px;
  border-radius: 7px;
}

.pacman span {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px
}

.pacman span::before {
  content: "";
  position: absolute;
  left: 0;
  height: 30px;
  width: 60px;
  background-color: #FFFB16;
}

.pacman .top::before {
  top: 0;
  border-radius: 60px 60px 0px 0px
}

.pacman .bottom::before {
  bottom: 0;
  border-radius: 0px 0px 60px 60px
}

.pacman .left::before {
  bottom: 0;
  height: 60px;
  width: 30px;
  border-radius: 60px 0px 0px 60px
}

.pacman .top {
  -webkit-animation: animtop 0.5s infinite;
  animation: animtop 0.5s infinite
}

@-webkit-keyframes animtop {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
}

@keyframes animtop {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
}

.pacman .bottom {
  -webkit-animation: animbottom 0.5s infinite;
  animation: animbottom 0.5s infinite
}

@-webkit-keyframes animbottom {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}

@keyframes animbottom {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}

.card {
  -webkit-box-shadow: 0px 10px 42px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 42px -6px rgba(0, 0, 0, 0.75);
}

.card-title {
  font-size: 25px;
  text-align: center;
  font-family: LeagueSpartan-Bold;
}

.card-body {
  background: rgba(28, 29, 37, .985);
  color: hsla(0, 0%, 95%, .97);
}

.card-text {
  font-size: 20px;
  font-family: LeagueSpartan-Regular;
}

#contact {
  height: 100vh;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}


#left {
  width: 34%;
  background-color: hsla(0, 0%, 95%, .97);
  height: 80vh;
  color: rgba(28, 29, 37, .985);
  -webkit-box-shadow: 0px 17px 55px 9px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 17px 55px 9px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 17px 55px 9px rgba(0, 0, 0, 0.56);
  z-index: 1;
  position: relative;
}

#right {
  position: relative;
  height: 80vh;
  width: 34%;
  background-color: rgba(28, 29, 37, .985);
  color: hsla(0, 0%, 95%, .97);
  -webkit-box-shadow: 0px 17px 55px 9px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 17px 55px 9px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 17px 55px 9px rgba(0, 0, 0, 0.56);
}

@media screen and (max-width:450px) {
  #right {
    flex: 1;
    max-width: 100%;
    position: relative;
    height: 100vh;
  }
}

.contact-container {
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.contact-container .right-title {
  font-size: 2em;
  font-family: LeagueSpartan-Bold;
}

.contact-container .contact-description {
  font-size: 2em;
  font-family: LeagueSpartan-Light;
  margin-bottom: 50px;
}

.form-group label {
  font-family: LeagueSpartan-Bold;
  font-size: 15px;
}

#name,
#message,
#email {
  outline: 0;
  border-width: 0 0 2px;
  background-color: transparent;
  color: white;
  font-size: 15px;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important;
  color: orange !important;
  transition: .5s;
}

.button-gradient {
  background: #40E0D0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 200% auto;
  border: 0;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  transition: 0.5s;
  margin-top: 30px;
  font-family: LeagueSpartan-Bold;
}

.button-gradient:hover {
  background-position: right center;
}

.wrapper img {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.background {
  background: url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.gradient-background {
  background: #FDC830;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F37335, #FDC830);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F37335, #FDC830);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 50%;
  width: 100%;
  top: 50%;
  position: absolute;
}


.social-buttons-list {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-buttons-list li {
  list-style: none;
}

.social-buttons-list li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

@media only screen and (min-width:700px) and (max-width:1024px) {
  .social-buttons-list li a {
    font-size: 30px;
    margin: 10px;
  }

  .social-buttons-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}

@media only screen and (max-height:1024px) and (max-width:1024px) {
  .social-buttons-list li a {
    margin: 10px;
  }

  .social-buttons-list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  #left,
  #right {
    height: 100vh;
  }
}

.social-buttons-list li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.social-buttons-list li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-buttons-list li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social-buttons-list li a:hover:before {
  top: 0;
}

.social-buttons-list li:nth-child(1) a:before {
  background: #3b5999;
}

.social-buttons-list li:nth-child(2) a:before {
  background: #55acee;
}

.social-buttons-list li:nth-child(3) a:before {
  background: #0077b5;
}

.social-buttons-list li:nth-child(4) a:before {
  background: black;
  color: white;
}

.outer-font {
  font-size: 100px;
  position: relative;
  text-align: center;
  margin-left: 300px;
  z-index: 16;
  width: 100%;
  margin-bottom: -130px;
}


@media screen and (max-width:450px) {

  .outer-font {
    text-align: center;
    margin-left: 0;
  }
}