* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#cv:hover {
  color: purple;
  cursor: pointer;
}

#logo {
  cursor: pointer;
}

#about-me {
  width: 60%;
  font-size: 30px;
}

#font {
  font-family: "Amatic SC", cursive;
}

@media screen and (min-width: 601px) {
  #font {
    font-size: 45px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  #font {
    font-size: 30px;
  }
}

#overlap {
  z-index: -1;
  border: none;
  height: 20vw;
}

@media screen and (max-width: 600px) {
  #about-me {
    width: 90vw;
    font-size: 4vw;
  }
}

@media screen and (max-width: 600px) {
  #overlap {
    height: 10vw;
  }
}

#overlay {
  color: black;
  background-color: white !important;
  width: 30%;
  z-index: 1;
  text-align: center;
  position: relative;
  bottom: 210px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 45vw;
  margin-top: 7vw;
  font-size: 1.5vw;
  border: 0.5px solid lightgray;
  -webkit-box-shadow: 0px 26px 8px -5px rgba(227, 220, 227, 1);
  -moz-box-shadow: 0px 26px 8px -5px rgba(227, 220, 227, 1);
  box-shadow: 0px 26px 8px -5px rgba(227, 220, 227, 1);
}

@media screen and (max-width: 600px) {
  #overlay {
    width: 70vw;
    height: 200vw;
    margin-top: 110vw;
    font-size: 5vw;
  }
}

/* @media screen and (max-width: 600px) {
#projects{
  width:100vw;
}
} */

#previews {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(227, 227, 227, 1);
  box-shadow: 10px 10px 5px 0px rgba(227, 227, 227, 1);
  border: 1px solid lightgray;
  opacity: 0.5;
}

#previews:hover {
  opacity: 3;
  transition: 300ms;
  cursor: pointer;
}

#header {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd; /* add border to the buttons */
  box-shadow: 0 3px 3px #999;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  margin: 20px;
}

/* facebook button class*/
.facebookBtn {
  background: #4060a5;
}

.facebookBtn:hover {
  color: #4060a5;
  background: #fff;
  border-color: #4060a5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn {
  background: #00abe3;
}

.twitterBtn:hover {
  color: #00abe3;
  background: #fff;
  border-color: #00abe3;
}

/* google plus button class*/
.googleplusBtn {
  background: black;
}

.googleplusBtn:hover {
  color: black;
  background: #fff;
  border-color: black;
}

/* linkedin button class*/
.linkedinBtn {
  background: #0094bc;
}

.linkedinBtn:hover {
  color: #0094bc;
  background: #fff;
  border-color: #0094bc;
}

#social-media {
  border: none;
}

#cv {
  cursor: pointer;
  margin-left: 20vw;
}

#color-font {
  margin-top: -78vw;
}

@media screen and (max-width: 600px) {
#heading{
  font-size: 7vw;
}
}
@media screen and (max-width: 600px) {
#addBtn{
  font-size: 5vw;
  width:20vw;
}
}

@media screen and (max-width: 600px) {
#cancelBtn{
  font-size: 5vw;
  width: 20vw;
}}

@media screen and (max-width: 600px) {
#previews{
  width:30vw;
  height: 20vw;
}
}

@media screen and (max-width: 600px) {
#pc{
  width: 100vw;
  height: 50vw;
}
}
