@font-face {
    src: url("font/Allura-Regular.otf");
    font-family: "Allura";
}

@font-face {
    src: url("font/LeagueSpartan-Black.woff");
    font-family: "Spartan";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    height: 50%;
    position: relative;
}

html,
body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    position: relative;
}

#header__title {
    padding: 20px;
}


.header__subtitle {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    padding: 20px 40px;
    font-family: "Allura", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo__border {
    background: white;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: -20px;
}

.logo__border img {
    width: 100px;
    height: 80px;
    animation: logo__animation 5s linear infinite;
    margin-left: -8px;
    margin-top: 5px;
}

@keyframes logo__animation {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);

    }
}


#about__me {
    width: 50vw;
    margin: 250px auto;
    display: flex;
    -webkit-box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.61);
    border-radius: 5px;
    position: relative;
    background: #fff;
    overflow: hidden;
}


video {
    position: absolute;
    width: 100%;
    -o-filter: blur(10px);
    filter: blur(10px);
    object-fit: cover;
    height: 120% !important;
    display: block;
}

#about__me img {
    width: 400px;
    margin: 0;
    border-radius: 5px;

}

#about__me .profile__picture {
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    animation: avatarAnimation .5s linear forwards;
}


#about__me .profile__descriptions h2 {
    font-family: "Spartan", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    width: 300px;
    margin: 20px auto;
}

#about__me .profile__descriptions .details__name {
    font-family: "Spartan", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.details__name span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#about__me .profile__descriptions .cv__button button {
    padding: 5px 15px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: "Spartan";
    text-transform: uppercase;
    font-size: 20px;
    width: 200px;
    margin: 20px auto;

}

#about__me .profile__descriptions .cv__button {
    width: 300px;
    margin: 20px auto;
}

#about__me .profile__descriptions .cv__button button:hover {
    color: white;
    border: 3px solid black;
    background-color: black;
    transition: .3s;

}

#about__me .profile__descriptions .cv__button button:hover::after {
    transition: .5s;
}

@keyframes avatarAnimation {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    90% {
        transform: scale(1.5);

    }

    100% {
        clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
        transform: scale(1);
    }
}

@media only screen and (max-width:1024px) {
    #about__me {
        width: 100vw;
    }
}


@media only screen and (max-width:480px) {
    #about__me {
        width: 100vw;
    }

    #about__me img {
        width: 100px;
    }

}